body {
	margin: 0px;

}

.hero {
	background-color: cyan;
	background-image: url("bg.jpg");
	color: white;

	padding-top: 200px;
	padding-bottom: 200px;

}

.test {
	color: blue;

}
