* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;

}

.header {
	width: 100%;
	height: 80px;
	display: block;
	/*background-color: #ed5cae;*/
}

.inner_header {
	width: 94%;
	height:100%;
	display: block;
	margin: 0 auto;

}

.logo_container {
	height: 100%;
	display: flex;
	float: left;
	align-items: center;
	gap: 4px;
}

.logo_container a {
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1 {
	display: table-cell;
	vertical-align: middle;
	height: fit-content;
	color: white;
	font-family: 'Kanit';
	font-size: 32px;
}

.navigation {
	float: right;
	height: 100%;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 15px;
}

.navigation a:last-child {
	padding-right: 0;
}

.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Rubik';
	font-size: 16px;
}

.navigation a li:hover {
	color: silver;

}

.background_1 {
	background-color: rgb(214, 74, 116);
	/*
	background-image: url("idols_1.png");
	background-repeat: no-repeat;
	background-size: 80%;
	*/

}

.section_1 {
	width: 100%;
	height: 775px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
.sect_1_left {
	display: flex;
	text-align: center;
	width: 33%;
	height: 100%;

	
}

.promo_icon_1 {


}
*/
.sect_1_center {
	display: flex;
	text-align: center;
	width: 33%;
	height: 100%;

}

.headliner {
	text-align: center;
	margin-top: 40%;
}

.headliner h1 {
	color: white;
	font-family: 'Kanit';
	padding: 10px;
	font-size: 40px;

}

.headliner h4 {
	color: white;
	font-family: 'Kanit';
	padding: 10px;

}

.headliner ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;

}

.headliner a {
	color: white;
	font-family: 'Kanit';
	padding: 8px;
	display: table;
	float: left;

}

/*
.sect_1_right {
	display: flex;
	width: 33%;
	height: 100%;


}
*/
