* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;

}

.hero {
	background-color: cyan;
	background-image: url("bg.jpg");
	color: white;

	padding-top: 200px;
	padding-bottom: 200px;

}

.test {
	color: blue;

}
